.foot {
    position: fixed;
    bottom:0px;
    width: 100%;
    text-align:center
}

.icon {
    width: 1.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

img[src=""]{
    opacity: 0;
}

.myicon {
    height:30px;
    width: 30px;
}

.navbar-brand {
    padding: 10px;
    height:30px;
}

