body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: #54426b;
    border: 0;
    margin: 0;
}
.alltransition {
    transition: all 0.3s ease-in-out;
}
.ear {
    width: 50px;
    height: 50px;
    background: #ffc673;
    border-radius: 50% 44%;
    position: absolute;
    top: -2px;
    z-index: 40;
    background: #e89e46;
    overflow: hidden;
}
.ear:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e89e46;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin: auto;
    content: '';
    z-index: 50;
}
.ear:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffc673;
    border-radius: 50%;
    top: -10px;
    width: 100%;
    height: 100%;
}
.eye {
    width: 9px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    z-index: 50;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}
.eyebrow {
    width: 30px;
    height: 14px;
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    margin: auto;
    background: #e89e46;
    z-index: 50;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.drawfur {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
}
.bearfullwrap {
    position: relative;
}
.bearwrapper {
    position: relative;
    z-index: 100;
    left: -3px;
    top: 2px;
}
.bearwrapper .face {
    position: relative;
    height: 172px;
    width: 222px;
    background: #e89e46;
    border-radius: 70px 70px 80px 80px;
    z-index: 50;
    overflow: hidden;
}
.bearwrapper .face:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffc673;
    border-radius: 70px 70px 90px 90px;
    top: -13px;
    width: 100%;
    height: 100%;
}
.bearwrapper .leftear {
    width: 50px;
    height: 50px;
    background: #ffc673;
    border-radius: 50% 44%;
    position: absolute;
    top: -2px;
    z-index: 40;
    background: #e89e46;
    overflow: hidden;
    left: -6px;
}
.bearwrapper .leftear:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e89e46;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin: auto;
    content: '';
    z-index: 50;
}
.bearwrapper .leftear:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffc673;
    border-radius: 50%;
    top: -10px;
    width: 100%;
    height: 100%;
}
.bearwrapper .rightear {
    width: 50px;
    height: 50px;
    background: #ffc673;
    border-radius: 50% 44%;
    position: absolute;
    top: -2px;
    z-index: 40;
    background: #e89e46;
    overflow: hidden;
    right: -6px;
}
.bearwrapper .rightear:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e89e46;
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin: auto;
    content: '';
    z-index: 50;
}
.bearwrapper .rightear:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffc673;
    border-radius: 50%;
    top: -10px;
    width: 100%;
    height: 100%;
}
.bearwrapper .lefteye {
    width: 9px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    z-index: 50;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    left: -50px;
}
.bearwrapper .righteye {
    width: 9px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    z-index: 50;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    right: -50px;
}
.bearwrapper .lefteyebrow {
    width: 30px;
    height: 14px;
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    margin: auto;
    background: #e89e46;
    z-index: 50;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    left: -45px;
}
.bearwrapper .righteyebrow {
    width: 30px;
    height: 14px;
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    margin: auto;
    background: #e89e46;
    z-index: 50;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    right: -55px;
}
.bearwrapper .mouthwrapper {
    background: #e89e46;
    position: absolute;
    left: 1px;
    right: 0;
    bottom: 0;
    top: 5px;
    width: 91px;
    height: 97px;
    margin: auto;
    border-radius: 27px;
    overflow: hidden;
    z-index: 50;
}
.bearwrapper .mouthwrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    border-radius: 27px;
    top: -7px;
    width: 100%;
    height: 100%;
    z-index: 50;
}
.bearwrapper .mouthwrapper .snout {
    background: #e89e46;
    position: absolute;
    left: 0px;
    right: 0;
    top: 5px;
    width: 47px;
    height: 20px;
    margin: auto;
    border-radius: 27px;
    z-index: 60;
}
.bearwrapper .mouthwrapper .snout:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 1px;
    right: 0;
    width: 22px;
    height: 4px;
    background: white;
    margin: auto;
    border-radius: 5px;
}
.bearwrapper .mouthwrapper .snout .nosleft {
    background: white;
    position: absolute;
    left: -18px;
    right: 0;
    top: 12px;
    width: 10px;
    height: 13px;
    margin: auto;
    border-radius: 8px;
    z-index: 60;
}
.bearwrapper .mouthwrapper .snout .nosright {
    background: white;
    position: absolute;
    left: 0;
    right: -18px;
    top: 12px;
    width: 10px;
    height: 13px;
    margin: auto;
    border-radius: 8px;
    z-index: 60;
}
.bearwrapper .mouthwrapper .mouth {
    position: absolute;
    top: 3px;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 32px;
    height: 8px;
    border-radius: 5px;
    background: #e89e46;
    z-index: 60;
    transition: all 0.3s ease-in-out;
}
.bearwrapper .furone {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 20px;
    left: 49px;
}
.bearwrapper .furtwo {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 54px;
    left: 39px;
}
.bearwrapper .furthree {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 72px;
    left: 16px;
}
.bearwrapper .furfour {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 98px;
    left: 47px;
}
.bearwrapper .furfive {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 118px;
    left: 30px;
}
.bearwrapper .fursix {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 138px;
    left: 72px;
}
.bearwrapper .furseven {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 144px;
    left: 112px;
}
.bearwrapper .fureight {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 134px;
    left: 163px;
}
.bearwrapper .furnine {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 4px;
    left: 163px;
}
.bearwrapper .furten {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 30px;
    left: 172px;
}
.bearwrapper .fureleven {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 92px;
    left: 181px;
}
.bearwrapper .furtwelve {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 98px;
    left: 207px;
}
.bearwrapper .furthirteen {
    position: absolute;
    width: 4px;
    height: 17px;
    border-radius: 5px;
    z-index: 60;
    background: #e89e46;
    top: 48px;
    left: 197px;
    height: 13px;
}
.bearwrapper.white {
    position: absolute;
    z-index: 1;
}
.bearwrapper.white .face {
    box-shadow: 0px 0px 0 9px white;
}
.bearwrapper.white .leftear {
    box-shadow: 0px 0px 0 9px white;
}
.bearwrapper.white .rightear {
    box-shadow: 0px 0px 0 9px white;
}
.bearwrapper.white .lefteyebrow {
    box-shadow: 0px 0px 0 9px white;
}
.bearwrapper.white .righteyebrow {
    box-shadow: 0px 0px 0 9px white;
}
.viewingblock {
    width: 20vw;
    height: 33%;
    position: absolute;
}
.viewingblock.topleftleft {
    top: 0;
    left: 0;
}
.viewingblock.topleftleft:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.topleftleft:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(-5px) translateX(-5px);
}
.viewingblock.topleft {
    top: 0;
    left: 20vw;
}
.viewingblock.topleft:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.topleft:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(-5px) translateX(-2.5px);
}
.viewingblock.top {
    top: 0;
}
.viewingblock.top:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.top:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(-5px) translateX(0px);
}
.viewingblock.topright {
    top: 0;
    right: 20vw;
}
.viewingblock.topright:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.topright:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(-5px) translateX(2.5px);
}
.viewingblock.toprightright {
    top: 0;
    right: 0;
}
.viewingblock.toprightright:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.toprightright:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(-5px) translateX(5px);
}
.viewingblock.midleftleft {
    left: 0;
}
.viewingblock.midleftleft:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.midleftleft:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(0px) translateX(-5px);
}
.viewingblock.midleft {
    left: 20vw;
}
.viewingblock.midleft:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.midleft:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(0px) translateX(-2.5px);
}
.viewingblock.midright {
    right: 20vw;
}
.viewingblock.midright:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.midright:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(0px) translateX(2.5px);
}
.viewingblock.midrightright {
    right: 0;
}
.viewingblock.midrightright:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.midrightright:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(0px) translateX(5px);
}
.viewingblock.botleftleft {
    left: 0;
    bottom: 0;
}
.viewingblock.botleftleft:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.botleftleft:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(5px) translateX(-5px);
}
.viewingblock.botleft {
    left: 20vw;
    bottom: 0;
}
.viewingblock.botleft:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.botleft:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(5px) translateX(-2.5px);
}
.viewingblock.bot {
    bottom: 0;
}
.viewingblock.bot:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.bot:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(5px) translateX(0px);
}
.viewingblock.botright {
    bottom: 0;
    right: 20vw;
}
.viewingblock.botright:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.botright:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(5px) translateX(2.5px);
}
.viewingblock.botrightright {
    right: 0;
    bottom: 0;
}
.viewingblock.botrightright:hover ~ .bearfullwrap .bearwrapper .lefteye,
.viewingblock.botrightright:hover ~ .bearfullwrap .bearwrapper .righteye {
    transform: translateY(5px) translateX(5px);
}
button {
    border: 1px solid white;
    position: absolute;
    bottom: 20px;
    padding: 13px 0;
    color: white;
    text-transform: uppercase;
    font-family: arial;
    -webkit-appearance: none;
    background: none;
    font-size: 14px;
    width: 100px;
    left: 0;
    right: 0;
    margin: auto;
}
button.confused {
    left: 300px;
}
button.confused:focus ~ .bearfullwrap .bearwrapper .lefteyebrow {
    transform: translateY(10px);
}
button.confused:focus ~ .bearfullwrap .bearwrapper .righteyebrow {
    transform: translateY(-5px);
}
button.confused:focus ~ .bearfullwrap .bearwrapper .mouthwrapper .mouth {
    transform: translateX(-10px);
}
button.normal {
    left: 0px;
}
button.angry {
    left: -300px;
}
button.angry:focus ~ .bearfullwrap .bearwrapper .lefteyebrow {
    transform: translateY(10px) rotate(10deg);
}
button.angry:focus ~ .bearfullwrap .bearwrapper .righteyebrow {
    transform: translateY(10px) rotate(-10deg);
}
button.angry:focus ~ .bearfullwrap .bearwrapper .mouthwrapper .mouth {
    transform: translateY(-10px);
}

.welcome {
    font-family: "Mural Script";
    color: #FFFFFF;
    font-size:45px;
    margin:0 auto;
    position: absolute;
    bottom: 140px;
    padding: 13px 0;
    transition:font-size 1s;
    -moz-transition:font-size 1s; /* Firefox 4 */
    -webkit-transition:font-size 1s; /* Safari and Chrome */
    -o-transition:font-size 1s;
}
.welcome:hover {
    font-size:60px;
}

.welcome:focus ~ .bearfullwrap .bearwrapper .lefteyebrow {
    transform: translateY(10px);
}
.welcome:focus ~ .bearfullwrap .bearwrapper .righteyebrow {
    transform: translateY(-5px);
}
.welcome:focus ~ .bearfullwrap .bearwrapper .mouthwrapper .mouth {
    transform: translateX(-10px);
}


@font-face {
    font-family:"Mural Script";
    src:url("src/MH______.eot") format("eot"),
    url("src/MH______.woff") format("woff"),
    url("src/MH______.ttf") format("truetype"),
    url("src/MH______.svg#MuralScript") format("svg");
    font-weight:normal;
    font-style:normal;
}
